body {
    background-color: #F2B490;
    padding: 10px
}

.cnav {
    background-color: #B18872;
    border-radius: 10% 10% 0px 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.reg, .bej {
    background-color: #fff;
    margin-right: 10%;
    margin-top: 0px;
}

.reg-form, .bej-form {
    margin: 10% 25% 5% 25%;
}

.reg-img {
    width: 100%;
    height: auto;
}

.btn {
    margin-top: 20px;
    border-color: #F2B490;
    color: #5f4334;
}

.btn:hover {
    background-color: #F2B490;
    border-color: #5f4334;
    color: #5f4334;
}

.btn:focus {
    background-color: #B18872;
    color: #B18872;
}

@media only screen and (max-width: 600px){
    .reg-img, .bej-img {
        display: none;
    }
    .reg-form, .bej-form {
        margin-left: 50%;
    }
}